html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  padding: 20px;
}

.content {
  margin: auto;
  /* max-width: 1000px; */
}

.center {
  margin: 15px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.sxs {
  display: flex;
  align-items: center;
  direction: column;
}

.sxs-center {
  display: flex;
  justify-content: center;
}

.stack-center {
  justify-content: center;
  align-items: center;
}

.justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: column;
  width: 100%;
}
